<a href="https://colab.research.google.com/github/lhfp98/git-bootcamp/blob/main/Gibson_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Install tabula-py
#!pip install tabula-py

# Import the read_pdf function from tabula
from tabula import read_pdf

# URL to the PDF file containing the tabular data
URL = "/gibson/2019 GIBSON GAS - WEEK (1).pdf"

# Use tabula to read the PDF file from the given URL
tabular_data = read_pdf(URL, pages='all', lattice=True)  # For well-defined grids
tabular_data = read_pdf(URL, pages='all', multiple_tables=True)

,Cbm,Unnamed: 0,Unnamed: 1,US $/pcm,vs Previous week,US $/day,vs Previous week.1
0,"78,000+",Modern,NaN,"715,000",Unchanged,"23,520",Unchanged
1,"59,000",NaN,NaN,"575,000",Unchanged,"18,914",Unchanged
2,"38,000",NaN,NaN,"570,000",Unchanged,"18,750",Unchanged
3,"35,000",NaN,NaN,"500,000",Unchanged,"16,447",Unchanged
4,"22,500",F/R,NaN,"470,000",Unchanged,"15,460",Unchanged
5,"21-22,000",S/R,NaN,"510,000","Up $10,000","16,776",Up $329
6,"21-22,000",Ethylene,NaN,"750,000","Up $25,000","24,671",Up $822
7,"12,000",Ethylene,NaN,"530,000",Unchanged,"17,434",Unchanged
8,"7,500",Pressure,NaN,"330,000",Unchanged,"10,855",Unchanged
9,"5,000",Pressure,West,"305,000",Unchanged,"10,033",Unchanged
10,"5,000",Pressure,East,"278,000",Unchanged,"9,145",Unchanged
11,"3,500",Pressure,West,"280,000",Unchanged,"9,211",Unchanged
12,"3,500",Pressure,East,"240,000",Unchanged,"7,894",Unchanged

In [15]:
tabular_data[8]

,Petchems,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Vessel,cbm,mts Cargo,NaN,Load,Disch,Laycan,Rate,Charterer
1,Commodore,"84,000","12,000 PPL",NaN,Ruwais,China,10-15 Jan,RNR,Bayegan
2,Arctic Gas,"22,000","2,500 BTD",NaN,ARA,USG,10-15 Jan,RNR,Kolmar
3,Arctic Gas,"22,000","9,000 PPL",NaN,USG,N.W.E,end Jan,RNR,Kolmar
4,JS Greenspeed,"12,000","6,500 C2",NaN,Jubail,Merak,20-22 Dec,RNR,LKT/Sabic
5,Astipalea,"12,000","6,500 C2",NaN,Hazira,China,23-25 Dec,RNR,Marubeni
6,JS Greensea,"12,000","6,500 PPL",NaN,Jubail,Anyer,28-30 Dec,RNR,LKT/Sabic
7,Gas Pride,"9,000","4,600 PGP",NaN,Priolo,Antwerp,26-28 Dec,RNR,ENI
8,Norgas Orinda,"8,500","4,500 BTD",NaN,Jubail,CJK,end Dec,RNR,LKT/Sabic
9,Norgas Alameda,"8,500","3,500 C2",NaN,SE Asia,China,20-25 Dec,RNR,APEX
10,Gaz Venezia,"7,300","4,000 PPL",NaN,Aliaga,Ain Sukhna,1-2 Jan,RNR,Bayegan
11,Epic Bali,"7,200","3,800 PPL",NaN,Santa Clara,Altamira,5-7 Jan,RNR,Braskem
12,Coral Lophelia,"5,600","2,000 PPL",NaN,Arzew,Sarroch,1-2 Jan,RNR,Saras
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Vessel,cbm,Period,NaN,Delivery,Redelivery,Laycan,Hire,Charterer
16,Navigator Gemini,"20,500",30-60 Day T/C,NaN,Gib,Gib,Dec-19,mid $600's pcm,Cepsa
17,Chelsea,"9,500",6+6 Month T/C,NaN,WW,WW,Jan-19,HNR,PNX
18,DL Lily,"9,500",12 Month T/C,NaN,WW,WW,Jan-19,HNR,Exxon East
19,Eco Husky,"7,500",6 Month T/C,NaN,Direct,Continuation,Jan-19,HNR,OSC
20,Gaschem Weser,"5,600",12 Month T/C,NaN,Direct,Continuation,Jan-19,HNR,Sonatrach
21,Epic St Kitts,"5,000",12 Month T/C Ext,NaN,WW,WW,Jan-19,HNR,Petredec
22,St Vincent,"5,000",12 Month T/C Ext,NaN,WW,WW,Jan-19,HNR,Petredec

In [16]:
import tabula
import pandas as pd
import os

def extract_tables(pdf_path):
    # Attempt to extract tables using tabula
    try:
        # Using stream mode based on your table layout; adjust pages as needed
        tables = tabula.read_pdf(pdf_path, pages='all', multiple_tables=True, stream=True)
        return tables
    except Exception as e:
        print(f"Failed to extract tables from {pdf_path}: {str(e)}")
        return None

def validate_tables(tables, expected_columns):
    # Check if any of the tables match the expected structure
    valid_tables = []
    for table in tables:
        if all(col in table.columns for col in expected_columns):
            valid_tables.append(table)
    return valid_tables

# Specify your PDF directory and expected columns based on your sample images
pdf_directory = '/gibson'
expected_columns = ['Mts', 'US $/pmt', 'vs Previous week']

# Process each PDF in the directory
results = {}
for pdf_file in os.listdir(pdf_directory):
    if pdf_file.endswith('.pdf'):
        full_path = os.path.join(pdf_directory, pdf_file)
        tables = extract_tables(full_path)
        if tables:
            valid_tables = validate_tables(tables, expected_columns)
            if valid_tables:
                results[pdf_file] = valid_tables
            else:
                results[pdf_file] = "No valid tables found"
        else:
            results[pdf_file] = "No tables extracted"

# Output the results
for key, value in results.items():
    print(f"File: {key}, Result: {value}")

File: 2019 GIBSON GAS - WEEK (1).pdf, Result: [       Mts Unnamed: 0 Unnamed: 1   Unnamed: 2 US $/pmt vs Previous week
0   44,000        LPG         AG        Japan  $33.964      Down $3.429
1    6,500    BTD/PPL     Brazil   USG-Caribs  150-160        Unchanged
2    6,500     C2/BTD     Brazil          CJK  290-300        Unchanged
3    6,500   Ethylene        USG        N.W.E  175-185        Unchanged
4    6,500   Ethylene     N.W.E.          CJK  300-310        Unchanged
5    6,500   Ethylene        MEG      SE Asia  115-125        Unchanged
6    6,500   Ethylene        MEG          CJK  165-175        Unchanged
7    6,500  Butadiene      N.W.E          CJK  290-300        Unchanged
8    6,500  Propylene        USG        N.W.E  160-170        Unchanged
9    1,600  Propylene       Yosu      E.China       54        Unchanged
10   1,500  Propylene      S.E.A      E.China      162        Unchanged
11   4,000     Butane      EC UK      Morocco       65          Down $5
12   1,800     Butane       Tees          ARA       53          Down $7
13   1,800     Butane       Tees       Lisbon      110         Down $10
14   1,600    Propane       Tees        Brest       77         Down $10
15   1,800        LPG    S.China  Philippines       58        Unchanged]
File: 2019 GIBSON GAS - WEEK (2).pdf, Result: [       Mts Unnamed: 0 Unnamed: 1   Unnamed: 2 US $/pmt vs Previous week
0   44,000        LPG         AG        Japan  $31.714       Down $2.25
1    6,500    BTD/PPL     Brazil   USG-Caribs  150-160        Unchanged
2    6,500     C2/BTD     Brazil          CJK  290-300        Unchanged
3    6,500   Ethylene        USG        N.W.E  175-185        Unchanged
4    6,500   Ethylene     N.W.E.          CJK  300-310        Unchanged
5    6,500   Ethylene        MEG      SE Asia  115-125        Unchanged
6    6,500   Ethylene        MEG          CJK  165-175        Unchanged
7    6,500  Butadiene      N.W.E          CJK  290-300        Unchanged
8    6,500  Propylene        USG        N.W.E  160-170        Unchanged
9    1,600  Propylene       Yosu      E.China       54        Unchanged
10   1,500  Propylene      S.E.A      E.China      162        Unchanged
11   4,000     Butane      EC UK      Morocco       60          Down $5
12   1,800     Butane       Tees          ARA       50          Down $3
13   1,800     Butane       Tees       Lisbon      107          Down $3
14   1,600    Propane       Tees        Brest       74          Down $3
15   1,800        LPG    S.China  Philippines       58        Unchanged]
File: 2019 GIBSON GAS - WEEK (3).pdf, Result: [       Mts Unnamed: 0 Unnamed: 1   Unnamed: 2 US $/pmt vs Previous week
0   44,000        LPG         AG        Japan  $28.214        Down $3.5
1    6,500    BTD/PPL     Brazil   USG-Caribs  150-160        Unchanged
2    6,500     C2/BTD     Brazil          CJK  290-300        Unchanged
3    6,500   Ethylene        USG        N.W.E  165-175         Down $10
4    6,500   Ethylene     N.W.E.          CJK  300-310        Unchanged
5    6,500   Ethylene        MEG      SE Asia  115-125        Unchanged
6    6,500   Ethylene        MEG          CJK  165-175        Unchanged
7    6,500  Butadiene      N.W.E          CJK  290-300        Unchanged
8    6,500  Propylene        USG        N.W.E  150-160         Down $10
9    1,600  Propylene       Yosu      E.China       54        Unchanged
10   1,500  Propylene      S.E.A      E.China      162        Unchanged
11   4,000     Butane      EC UK      Morocco       64            Up $4
12   1,800     Butane       Tees          ARA       49          Down $1
13   1,800     Butane       Tees       Lisbon      106          Down $1
14   1,600    Propane       Tees        Brest       73          Down $1
15   1,800        LPG    S.China  Philippines       58        Unchanged]

In [19]:
import tabula
import pandas as pd
import os
from datetime import datetime
import re

import re
from datetime import datetime

def clean_ordinal(date_string):
    # Remove ordinal suffixes such as 'st', 'nd', 'rd', 'th'
    return re.sub(r'(\d+)(st|nd|rd|th)', r'\1', date_string)

def extract_date_from_pdf(pdf_path):
    area = [50, 450, 90, 600]  # Adjusted coordinates to capture the date
    try:
        tables = tabula.read_pdf(pdf_path, area=area, pages=1, multiple_tables=True, pandas_options={'header': None})
        if tables:
            date_text_df = tables[0]
            if not date_text_df.empty:
                date_string = date_text_df.iloc[0, 0]  # Assumes the date is in the first cell
                # Clean the date string to remove any ordinal suffixes
                cleaned_date_string = clean_ordinal(date_string)
                # Parse the cleaned date string
                date_object = datetime.strptime(cleaned_date_string, '%d %B %Y')
                return date_object.strftime('%Y-%m-%d')
            else:
                return "No data in extracted area"
        else:
            return "No tables extracted"
    except Exception as e:
        print(f"Error extracting date from {pdf_path}: {e}")
        return None

# Example usage of the function
pdf_path = "/gibson/2019 GIBSON GAS - WEEK (1).pdf"
extracted_date = extract_date_from_pdf(pdf_path)
print(f"Extracted Date: {extracted_date}")



def extract_and_validate_tables(pdf_path, expected_columns):
    tables = tabula.read_pdf(pdf_path, pages='all', multiple_tables=True, stream=True)
    valid_tables = []
    for table in tables:
        if all(col in table.columns for col in expected_columns):
            valid_tables.append(table)
    return valid_tables

def process_pdfs(pdf_directory, expected_columns):
    results = {}
    for pdf_file in os.listdir(pdf_directory):
        if pdf_file.endswith('.pdf'):
            full_path = os.path.join(pdf_directory, pdf_file)
            date_extracted = extract_date_from_pdf(full_path)
            if date_extracted:
                tables = extract_and_validate_tables(full_path, expected_columns)
                for table in tables:
                    table['Report Date'] = date_extracted
                results[pdf_file] = tables
            else:
                results[pdf_file] = "Failed to extract date"
    return results

# Example usage
pdf_directory = '/gibson'
expected_columns = ['Mts', 'US $/pmt', 'vs Previous week']
processed_data = process_pdfs(pdf_directory, expected_columns)

# Output the results
for key, value in processed_data.items():
    print(f"File: {key}, Result: {value}")

Extracted Date: 2019-01-03
File: 2019 GIBSON GAS - WEEK (1).pdf, Result: [       Mts Unnamed: 0 Unnamed: 1   Unnamed: 2 US $/pmt vs Previous week  \
0   44,000        LPG         AG        Japan  $33.964      Down $3.429
1    6,500    BTD/PPL     Brazil   USG-Caribs  150-160        Unchanged
2    6,500     C2/BTD     Brazil          CJK  290-300        Unchanged
3    6,500   Ethylene        USG        N.W.E  175-185        Unchanged
4    6,500   Ethylene     N.W.E.          CJK  300-310        Unchanged
5    6,500   Ethylene        MEG      SE Asia  115-125        Unchanged
6    6,500   Ethylene        MEG          CJK  165-175        Unchanged
7    6,500  Butadiene      N.W.E          CJK  290-300        Unchanged
8    6,500  Propylene        USG        N.W.E  160-170        Unchanged
9    1,600  Propylene       Yosu      E.China       54        Unchanged
10   1,500  Propylene      S.E.A      E.China      162        Unchanged
11   4,000     Butane      EC UK      Morocco       65          Down $5
12   1,800     Butane       Tees          ARA       53          Down $7
13   1,800     Butane       Tees       Lisbon      110         Down $10
14   1,600    Propane       Tees        Brest       77         Down $10
15   1,800        LPG    S.China  Philippines       58        Unchanged

   Report Date
0   2019-01-03
1   2019-01-03
2   2019-01-03
3   2019-01-03
4   2019-01-03
5   2019-01-03
6   2019-01-03
7   2019-01-03
8   2019-01-03
9   2019-01-03
10  2019-01-03
11  2019-01-03
12  2019-01-03
13  2019-01-03
14  2019-01-03
15  2019-01-03  ]
File: 2019 GIBSON GAS - WEEK (2).pdf, Result: [       Mts Unnamed: 0 Unnamed: 1   Unnamed: 2 US $/pmt vs Previous week  \
0   44,000        LPG         AG        Japan  $31.714       Down $2.25
1    6,500    BTD/PPL     Brazil   USG-Caribs  150-160        Unchanged
2    6,500     C2/BTD     Brazil          CJK  290-300        Unchanged
3    6,500   Ethylene        USG        N.W.E  175-185        Unchanged
4    6,500   Ethylene     N.W.E.          CJK  300-310        Unchanged
5    6,500   Ethylene        MEG      SE Asia  115-125        Unchanged
6    6,500   Ethylene        MEG          CJK  165-175        Unchanged
7    6,500  Butadiene      N.W.E          CJK  290-300        Unchanged
8    6,500  Propylene        USG        N.W.E  160-170        Unchanged
9    1,600  Propylene       Yosu      E.China       54        Unchanged
10   1,500  Propylene      S.E.A      E.China      162        Unchanged
11   4,000     Butane      EC UK      Morocco       60          Down $5
12   1,800     Butane       Tees          ARA       50          Down $3
13   1,800     Butane       Tees       Lisbon      107          Down $3
14   1,600    Propane       Tees        Brest       74          Down $3
15   1,800        LPG    S.China  Philippines       58        Unchanged

   Report Date
0   2019-01-10
1   2019-01-10
2   2019-01-10
3   2019-01-10
4   2019-01-10
5   2019-01-10
6   2019-01-10
7   2019-01-10
8   2019-01-10
9   2019-01-10
10  2019-01-10
11  2019-01-10
12  2019-01-10
13  2019-01-10
14  2019-01-10
15  2019-01-10  ]
File: 2019 GIBSON GAS - WEEK (3).pdf, Result: [       Mts Unnamed: 0 Unnamed: 1   Unnamed: 2 US $/pmt vs Previous week  \
0   44,000        LPG         AG        Japan  $28.214        Down $3.5
1    6,500    BTD/PPL     Brazil   USG-Caribs  150-160        Unchanged
2    6,500     C2/BTD     Brazil          CJK  290-300        Unchanged
3    6,500   Ethylene        USG        N.W.E  165-175         Down $10
4    6,500   Ethylene     N.W.E.          CJK  300-310        Unchanged
5    6,500   Ethylene        MEG      SE Asia  115-125        Unchanged
6    6,500   Ethylene        MEG          CJK  165-175        Unchanged
7    6,500  Butadiene      N.W.E          CJK  290-300        Unchanged
8    6,500  Propylene        USG        N.W.E  150-160         Down $10
9    1,600  Propylene       Yosu      E.China       54        Unchanged
10   1,500  Propylene      S.E.A      E.China      162        Unchanged
11   4,000     Butane      EC UK      Morocco       64            Up $4
12   1,800     Butane       Tees          ARA       49          Down $1
13   1,800     Butane       Tees       Lisbon      106          Down $1
14   1,600    Propane       Tees        Brest       73          Down $1
15   1,800        LPG    S.China  Philippines       58        Unchanged

   Report Date
0   2019-01-17
1   2019-01-17
2   2019-01-17
3   2019-01-17
4   2019-01-17
5   2019-01-17
6   2019-01-17
7   2019-01-17
8   2019-01-17
9   2019-01-17
10  2019-01-17
11  2019-01-17
12  2019-01-17
13  2019-01-17
14  2019-01-17
15  2019-01-17  ]

In [23]:

import tabula
import pandas as pd
import os
from datetime import datetime
import re

import re
from datetime import datetime

def clean_ordinal(date_string):
    # Remove ordinal suffixes such as 'st', 'nd', 'rd', 'th'
    cleaned_string = re.sub(r'(\d+)(st|nd|rd|th)', r'\1', date_string)
    # Remove any leading text such as "Week 50 |" to isolate the date
    cleaned_string = re.sub(r'^.*\| ', '', cleaned_string)
    return cleaned_string

def extract_date_from_pdf(pdf_path):
    area = [50, 450, 90, 600]  # Adjusted coordinates to capture the date area
    try:
        tables = tabula.read_pdf(pdf_path, area=area, pages=1, multiple_tables=True, pandas_options={'header': None})
        if tables:
            date_text_df = tables[0]
            if not date_text_df.empty:
                date_string = date_text_df.iloc[0, 0]  # Assumes the date is in the first cell
                # Clean the date string to remove any ordinal suffixes and prefixes
                cleaned_date_string = clean_ordinal(date_string)
                # Parse the cleaned date string
                date_object = datetime.strptime(cleaned_date_string, '%d %B %Y')
                return date_object.strftime('%Y-%m-%d')
            else:
                return "No data in extracted area"
        else:
            return "No tables extracted"
    except Exception as e:
        print(f"Error extracting date from {pdf_path}: {e}")
        return None

# Example usage of the function
pdf_path = "/gibson/2019 GIBSON GAS - WEEK (1).pdf"
extracted_date = extract_date_from_pdf(pdf_path)
print(f"Extracted Date: {extracted_date}")



def extract_and_validate_tables(pdf_path, expected_columns):
    tables = tabula.read_pdf(pdf_path, pages='all', multiple_tables=True, stream=True)
    valid_tables = []
    for table in tables:
        if all(col in table.columns for col in expected_columns):
            valid_tables.append(table)
    return valid_tables

def process_pdfs(pdf_directory, expected_columns, output_csv_path):
    all_tables = []  # List to store all DataFrames
    for pdf_file in os.listdir(pdf_directory):
        if pdf_file.endswith('.pdf'):
            full_path = os.path.join(pdf_directory, pdf_file)
            date_extracted = extract_date_from_pdf(full_path)
            if date_extracted:
                tables = extract_and_validate_tables(full_path, expected_columns)
                for table in tables:
                    table['Report Date'] = date_extracted
                    all_tables.append(table)  # Append each table to the list
            else:
                print(f"Failed to extract date from {pdf_file}")

    # Concatenate all DataFrames into one
    if all_tables:
        combined_df = pd.concat(all_tables, ignore_index=True)
        # Save the DataFrame to CSV
        combined_df.to_csv(output_csv_path, index=False)
        print(f"Data successfully written to {output_csv_path}")
        return combined_df
    else:
        print("No data to display.")
        return None

# Example usage
pdf_directory = '/gibson'
expected_columns = ['Mts', 'US $/pmt', 'vs Previous week']
output_csv_path = 'combined_data.csv'  # Specify the path to save the CSV file
combined_data = process_pdfs(pdf_directory, expected_columns, output_csv_path)

# The combined DataFrame is also returned if you need to use it further in the script
if combined_data is not None:
    print(combined_data)
else:
    print("No data to display.")




#Extracted Date: 2019-01-03
#Error extracting date from /gibson/2019 GIBSON GAS - WEEK (48).pdf: time data '48 |  28 November 2019' does not match format '%d %B %Y'
#Failed to extract date from 2019 GIBSON GAS - WEEK (48).pdf
#Error extracting date from /gibson/2019 GIBSON GAS - WEEK (50).pdf: time data '50 |  12 December 2019' does not match format '%d %B %Y'
#Failed to extract date from 2019 GIBSON GAS - WEEK (50).pdf
#Error extracting date from /gibson/2019 GIBSON GAS - WEEK (51).pdf: time data '51 |  20 December 2019' does not match format '%d %B %Y'
#Failed to extract date from 2019 GIBSON GAS - WEEK (51).pdf
#Error extracting date from /gibson/2019 GIBSON GAS - WEEK (46).pdf: time data '46 |  14 November 2019' does not match format '%d %B %Y'
#Failed to extract date from 2019 GIBSON GAS - WEEK (46).pdf
#Error extracting date from /gibson/2019 GIBSON GAS - WEEK (47).pdf: time data '47 |  21 November 2019' does not match format '%d %B %Y'
#Failed to extract date from 2019 GIBSON GAS - WEEK (47).pdf
#Error extracting date from /gibson/2019 GIBSON GAS - WEEK (49).pdf: time data '49 |  5 December 2019' does not match format '%d %B %Y'
#Failed to extract date from 2019 GIBSON GAS - WEEK (49).pdf

Extracted Date: 2019-01-03
Error extracting date from /gibson/2019 GIBSON GAS - WEEK (48).pdf: time data '48 |  28 November 2019' does not match format '%d %B %Y'
Failed to extract date from 2019 GIBSON GAS - WEEK (48).pdf
Error extracting date from /gibson/2019 GIBSON GAS - WEEK (50).pdf: time data '50 |  12 December 2019' does not match format '%d %B %Y'
Failed to extract date from 2019 GIBSON GAS - WEEK (50).pdf
Error extracting date from /gibson/2019 GIBSON GAS - WEEK (51).pdf: time data '51 |  20 December 2019' does not match format '%d %B %Y'
Failed to extract date from 2019 GIBSON GAS - WEEK (51).pdf
Error extracting date from /gibson/2019 GIBSON GAS - WEEK (46).pdf: time data '46 |  14 November 2019' does not match format '%d %B %Y'
Failed to extract date from 2019 GIBSON GAS - WEEK (46).pdf
Error extracting date from /gibson/2019 GIBSON GAS - WEEK (47).pdf: time data '47 |  21 November 2019' does not match format '%d %B %Y'
Failed to extract date from 2019 GIBSON GAS - WEEK (47).pdf
Error extracting date from /gibson/2019 GIBSON GAS - WEEK (49).pdf: time data '49 |  5 December 2019' does not match format '%d %B %Y'
Failed to extract date from 2019 GIBSON GAS - WEEK (49).pdf
Data successfully written to combined_data.csv
        Mts Unnamed: 0 Unnamed: 1   Unnamed: 2 US $/pmt vs Previous week  \
0    44,000        LPG         AG        Japan  $74.857      Down $1.714
1     6,500    BTD/PPL     Brazil   USG-Caribs  140-150        Unchanged
2     6,500     C2/BTD     Brazil          CJK  290-300        Unchanged
3     6,500   Ethylene        USG        N.W.E  165-175        Unchanged
4     6,500   Ethylene     N.W.E.          CJK  280-290        Unchanged
..      ...        ...        ...          ...      ...              ...
715   4,000     Butane      EC UK      Morocco       60        Unchanged
716   1,800     Butane       Tees          ARA       46        Unchanged
717   1,800     Butane       Tees       Lisbon      105        Unchanged
718   1,600    Propane       Tees        Brest       71        Unchanged
719   1,800        LPG    S.China  Philippines       61        Unchanged

    Report Date
0    2019-07-18
1    2019-07-18
2    2019-07-18
3    2019-07-18
4    2019-07-18
..          ...
715  2019-06-07
716  2019-06-07
717  2019-06-07
718  2019-06-07
719  2019-06-07

[720 rows x 7 columns]

In [24]:
combined_data

,Mts,Unnamed: 0,Unnamed: 1,Unnamed: 2,US $/pmt,vs Previous week,Report Date
0,"44,000",LPG,AG,Japan,$74.857,Down $1.714,2019-07-18
1,"6,500",BTD/PPL,Brazil,USG-Caribs,140-150,Unchanged,2019-07-18
2,"6,500",C2/BTD,Brazil,CJK,290-300,Unchanged,2019-07-18
3,"6,500",Ethylene,USG,N.W.E,165-175,Unchanged,2019-07-18
4,"6,500",Ethylene,N.W.E.,CJK,280-290,Unchanged,2019-07-18
...,...,...,...,...,...,...,...
715,"4,000",Butane,EC UK,Morocco,60,Unchanged,2019-06-07
716,"1,800",Butane,Tees,ARA,46,Unchanged,2019-06-07
717,"1,800",Butane,Tees,Lisbon,105,Unchanged,2019-06-07
718,"1,600",Propane,Tees,Brest,71,Unchanged,2019-06-07
719,"1,800",LPG,S.China,Philippines,61,Unchanged,2019-06-07